{% extends 'base.html'%}
{% block content %}

<div class="container-fluid landing">
    <div class="row">
                {% for blog in blog %}
                <div class="col-md-4 d-flex jusify-content-center" style="margin: 1%; width:40%; height: 500px;">
                    <div class="card" style="background-color:whitesmoke;">
                        <h5 style="color:black; font-size:30px;" class="card-header">{{blog.title}}</h5>
                        <div class="card-body">
                                <p style="font-size: 40px; width: 70%;">{{blog.blog}}</p>
                                <footer class="blockquote-footer text-center" > Posted by: {{blog.username}}</footer>
                                <div class="footer" style="text-align: center; margin-right: 10%; font-size: 20px;">
                                <span class="foot" >{{blog.comment.count()}} Comments</span> 
    
                                    <a href="{{url_for('main.comment',blog_id = blog.id)}}" class="btn btn-primary"> Comment</a>
                                </div>
                        </div>
                            
                        </div>
                    </div>
                
                {% endfor %}

    </div>
</div>
{% endblock %}